{{ if eq .chezmoi.os "darwin" -}}
#!/bin/bash
set -euo pipefail

FISH="$(brew --prefix)/bin/fish"

if ! grep -qx "$FISH" /etc/shells; then
  echo "$FISH" | sudo tee -a /etc/shells
fi

if [ "$(dscl . -read "$HOME" UserShell | awk '{print $2}')" != "$FISH" ]; then
  chsh -s "$FISH"
fi
{{ end -}}
